{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron">
  <h1 class="text-info text-center"><em>Players in La-Liga between 2014-2019</em></h1>
    <form>
  <!-- Search form -->
        <div class="input-group">
          <input type="text" class="form-control" id="input">
           <div class="input-group-prepend">
            <button class="btn btn-primary" type="button" id="button">Search</button>
          </div>
        </div>
    </form>
<br>
  <table class="table table-dark table-striped table-bordered " id='mytable'>
     <thead>
           <th scope="col" id='id'>#</th>
           <th scope="col" id='name'>  Player Name</th>
     </thead>
     <tbody id="tb">
        <td id="we"></td>   
        <td id="wq"></td>
     </tbody>
  </table>

</div>
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'website/website.js' %}"></script>
{% endblock script %}